*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    color: blanchedalmond;

}

.teste2{
    display: flex;
}
header{
    color: red;
}
.INFO{
    gap: 16px;
    display: flex;
}
.redes{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 1150px; */
}

.links{
    width: 100%;
    background-color: yellow;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info_text{
align-content: center;
}
footer{
    color: blanchedalmond;

}